 .u-section-1 {
  background-image: none;
  min-height: 737px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 737px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 60px 90px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 60px auto 0 0;
  padding: 17px 48px 18px 46px;
}

.u-section-1 .u-image-1 {
  min-height: 737px;
  pointer-events: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/logo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 443px;
  height: 519px;
  margin: 0 77px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 608px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 608px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 852px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 364px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 493px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 11px;
    margin-right: auto;
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 57px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 354px;
    margin-top: 0;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 334px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 49px auto 29px -15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 256px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 256px;
}

.u-section-2 .u-container-layout-2 {
  padding: 18px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 0 auto 0 352px;
}

.u-section-2 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 263px;
  min-width: 148px;
  margin: 47px auto 0 166px;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 268px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 144px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 289px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 35px;
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: -95px;
    margin-left: 69px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 243px;
    margin-top: 49px;
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 128px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 245px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 547px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 372px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  font-weight: 700;
  margin: 2px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 372px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 55px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 372px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: normal;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 341px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 307px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 280px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 230px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 48px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 362px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 712px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  line-height: 25.6px;
  margin: 20px 1px 0;
}

.u-section-4 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-4 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-list-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-10 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-4 .u-icon-3 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-7 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-list-icon-11 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-12 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-13 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-14 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-15 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-4 .u-icon-4 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-9 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-list-icon-16 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-17 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-18 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-19 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-20 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-4 .u-icon-5 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-11 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-22 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-23 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-24 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-25 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-4 .u-icon-6 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-13 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-list-icon-26 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-27 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-28 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-29 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-30 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 60px auto 57px;
  padding: 17px 48px 18px 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 587px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    margin-top: 98px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1012px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-top: 91px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 117px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  min-height: 781px;
}

.u-section-5 .u-image-1 {
  height: 371px;
  margin-top: 121px;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  width: 438px;
  min-height: 399px;
  height: auto;
  margin: -442px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  width: 703px;
  margin: 93px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 330px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 746px;
}

.u-section-6 .u-image-1 {
  min-height: 445px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-photo-9879511.jpeg");
  background-position: 50% 50%;
  height: auto;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 0 0 80px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1140px;
  margin: -114px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 215px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexels-photo-2659177.jpeg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 10px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexels-photo-709802.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 10px auto 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-image-4 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/grayscale-photography-of-woman-wearing-coat-and-fedora-hat-2947337.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-10 {
  margin: 10px auto 0;
}

.u-section-6 .u-text-11 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-repeater-1 {
    min-height: 177px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1157px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 407px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1537px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 140px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 36px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 18px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-9 {
    width: auto;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1575px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 146px;
    margin-left: 36px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 30px;
    margin-right: 26px;
    margin-left: 16px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-image-2 {
    margin-top: 18px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: 18px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 806px;
}

.u-section-7 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  font-size: 3rem;
  font-family: Montserrat, sans-serif;
  margin: 60px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 146px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 521px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 13px 16px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 14px 92px 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-7 .u-line-1 {
  transform-origin: left center 0px;
  width: 328px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-4 {
  line-height: 25.6px;
  margin: 13px 24px 0 4px;
}

.u-section-7 .u-line-2 {
  transform-origin: left center 0px;
  margin: 8px 4px 0;
}

.u-section-7 .u-text-5 {
  margin: 30px 14px 0;
}

.u-section-7 .u-line-3 {
  transform-origin: left center 0px;
  width: 327px;
  margin: 4px auto 0;
}

.u-section-7 .u-text-6 {
  margin: 23px 14px 0;
}

.u-section-7 .u-line-4 {
  transform-origin: left center 0px;
  width: 307px;
  margin: 3px auto 0;
}

.u-section-7 .u-text-7 {
  margin: 15px 14px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 521px;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-7 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-7 .u-text-9 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-7 .u-line-5 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px 0 0 auto;
}

.u-section-7 .u-text-10 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-7 .u-line-6 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-7 .u-text-11 {
  margin: 11px 0 0;
}

.u-section-7 .u-line-7 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-7 .u-text-12 {
  margin: 13px 0 0;
}

.u-section-7 .u-line-8 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-7 .u-text-13 {
  margin: 13px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 521px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-7 .u-text-15 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-7 .u-line-9 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px 0 0 auto;
}

.u-section-7 .u-text-16 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-7 .u-line-10 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-7 .u-text-17 {
  margin: 11px 0 0;
}

.u-section-7 .u-line-11 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-7 .u-text-18 {
  margin: 13px 0 0;
}

.u-section-7 .u-line-12 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-7 .u-text-19 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 59px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 147px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-7 .u-line-1 {
    height: 3px;
    width: 269px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-2 {
    height: 3px;
    margin-top: -34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-5 {
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-3 {
    height: 3px;
    width: 269px;
    margin-top: -45px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-4 {
    width: 269px;
    margin-top: -36px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-7 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-line-8 {
    margin-right: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-7 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-line-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-line-12 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 54px;
  }

  .u-section-7 .u-line-1 {
    width: 195px;
  }

  .u-section-7 .u-line-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-line-3 {
    width: 195px;
  }

  .u-section-7 .u-line-4 {
    width: 195px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-line-2 {
    margin-top: -34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-7 .u-text-14 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 342px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-8 .u-text-2 {
  width: 710px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-8 .u-form-1 {
  height: 48px;
  width: 710px;
  margin: 30px auto 60px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 71px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-form-1 {
    width: 540px;
    margin-bottom: -314px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-form-1 {
    width: 340px;
    margin-bottom: -217px;
  }
} .u-section-9 {
  min-height: 734px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 76px 0 0;
}

.u-section-9 .u-image-1 {
  min-height: 658px;
  background-image: url("images/pexels-photo-9373483.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-shape-1 {
  width: 443px;
  height: 519px;
  margin: 0 auto;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 658px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-9 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 99px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 22px 20px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  align-self: center;
  font-weight: 700;
  margin: 27px auto 0 182px;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  margin: 20px auto 0 222px;
  padding: 0;
}

.u-section-9 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 619px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 543px;
  }

  .u-section-9 .u-shape-1 {
    width: 369px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 79px;
  }

  .u-section-9 .u-btn-3 {
    margin-left: 119px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 492px;
  }

  .u-section-9 .u-image-1 {
    min-height: 416px;
  }

  .u-section-9 .u-shape-1 {
    width: 262px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-9 .u-btn-3 {
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 822px;
  }

  .u-section-9 .u-image-1 {
    min-height: 646px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-shape-1 {
    width: 472px;
    margin-top: 34px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 583px;
  }

  .u-section-9 .u-image-1 {
    min-height: 407px;
  }

  .u-section-9 .u-shape-1 {
    width: 320px;
  }

  .u-section-9 .u-btn-3 {
    margin-left: 0;
  }
}